* {
    margin: 0;
    padding: 0;
}

.safe {
    width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    /* height: 0;
    overflow: hidden; */
}

.top1 {
    height: 103px;
    width: 100%;
    display: block;
}

.bottom1 {
    width: 100%;
    height: 138px;
    display: block;
}
