/* 头部 */

/* banner */
.banner {
    height: 200px;
    background: url(img/banner2.png);
}

.banner1 h2 {
    padding-top: 68px;
    display: inline-block;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
.banner1 .span1 {
    color: #ffb29b;
    font-size: 17px;
}

.banner1 .span2 {
    font-size: 12px;
    color: #ffb29b;
}

.banner1 h3 {
    display: inline-block;
    font-size: 12px;
    color: white;
}

.list {
    background-color: #f7f7f7;
    height: 60px;

}
.list1 p {
    padding-top: 24px;
    float: right;
}
.list1 p span {
    margin-left: 14px;
    font-size: 11px;
}

/* 主区域 */

.main {
    height: 800px;
}

.main ul {
    margin-top: 46px;
    font-size: 12px;
    color: #666;
}
.main ul li {
    line-height: 30px;
    margin-bottom: 14px;
}

.main li:last-of-type {
    color: red;
}

